main.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  background-image: url('/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

main.main>img {
  position: absolute;
  left: 0;
  bottom: 0;
}

main.main>div.info {
  height: 100%;
  width: 40%;
  max-width: 100vw;
  background-color: #FFF;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main.main>div.header {
  height: 100%;
  width: 60%;

  display: flex;
  align-items: center;
  justify-content: center;
}

main.main>div.header>h1 {
  font-weight: 700;
  color: #FFF;
}

main.main>div.info>div.login {
  width: 300px;
  height: 450px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

main.main>div.info>div.login>h2 {
  font-weight: 700;
  color: #333;
  text-align: start;
  align-self: flex-start;
  margin-bottom: 50px;
}

main.main>div.info>div.login>input {
  color: #333;
  border-radius: 30px;
  border: 1px solid #EEE;
  background: #FFF;
  padding: 18px 26px;
  width: calc(100% - 52px);
}

main.main>div.info>div.login>button {
  color: #FFF;
  border-radius: 30px;
  border: none;
  background: #0575E6;
  padding: 18px 26px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

main.main>div.info>div.login>input,
main.main>div.info>div.login>button {
  margin-bottom: 10px;
}

@media (max-width: 1150px) {

  main.main>div.header,
  main.main>img {
    display: none;
  }

  main.main>div.info {
    width: 100%;
  }
}